* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body {
   height: 100vh;
}

a {
   color: white;
}

/* Utilitários */

.u-button-container {
   display: flex;
   justify-content: center;
   height: 35px;
}

.u-button-container li + li {
   margin-left: 10px;
}

.u-button {
   padding: 10px;
   background: #b07dfb;
   border-radius: 0.25em;
   pointer-events: all;
}

/* Container Geral */

.c-container {
   width: 100%;
   max-width: 1920px;
   margin: 0 auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/* Header */

.c-header {
   background: linear-gradient(135deg, #8844ee, #b07dfb);
   height: 80px;
   margin: 0 auto;
   width: 100%;
}

.c-menu {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.c-menu li {
   margin: 0 5px;
   padding: 10px;
   background: #b07dfb;
   border-radius: 0.25em;
}

/* Main */

.c-main {
   width: 100%;
   height: 100%;
   /* background: rgb(0, 0, 0); */
}

.c-about {
   width: 400px;
   padding: 20px;
   margin: 10px auto;
   background: #b07dfb;
   border-radius: 0.25em;
}

/* Carrosel  */

.c-carrosel {
   width: 400px;
   padding: 0px 10px 10px 15px;
   margin: 0 auto;
}

.c-carrosel h2 {
   text-align: center;
}

.c-items {
   display: flex;
   overflow: hidden;
   /* overflow-x: auto; */
   scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
   scroll-behavior: smooth;
   height: 400px;
}

.c-item {
   text-align: center;
   background: rgba(175, 87, 247, 0.705);
   flex: none;
   width: 370px;
   height: 400px;
   padding: 10px;
   scroll-snap-align: start;
   pointer-events: none;
   border-radius: 0.25em;
   margin-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.c-item-button {
   height: 100px;
   align-items: center;
}

img {
   height: 230px;
   width: 100%;
   object-fit: cover;
}

/* Footer */

.c-footer {
   display: flex;
   align-self: center;
   flex-direction: column;
   background: linear-gradient(135deg, #8844ee, #b07dfb);
   width: 100%;
   height: 100px;
   align-items: center;
   justify-content: center;
}
