:root {
   --cor-principal: #23d3a3;
   --cor-secundária: #181f1c;
   --bg-footer: #0f1613;
}

/* Estilos Gerais */
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

h1,
h2 {
   font-family: "Merriweather", serif;
}
p,
a,
h3 {
   font-family: "Montserrat", sans-serif;
}

body {
   background: #13192c;
}

.c-container {
   height: 100vh;
   display: grid;
   grid: "main" 1fr;
   overflow-x: hidden;
}

/* Utilitários */

.u-button-container {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.u-button {
   width: 60px;
   background: var(--cor-principal);
   padding: 5px;
   border-radius: 3em;
}

.u-button a {
   color: var(--cor-secundária);
}

.u-button + .u-button {
   margin-left: 10px;
}

/* Main */

main {
   margin: 100px auto 0 auto;
   display: grid;
   /* max-width: 340px; */
   align-items: start;
   gap: 20px;
   grid:
      "h1"
      "nav" 50px
      "content" 1fr;
}

main h1 {
   text-align: center;
   color: white;
   margin-bottom: 10px;
   font-size: 50px;
}

/* Nav */

.c-nav {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   grid-area: nav;
   gap: 40px;
   font-weight: bold;
}
.c-nav a {
   background: var(--cor-principal);
   color: var(--cor-secundária);
   padding: 10px;
}

/* Carrosel */

section .box-1 {
   display: none;
}

section .box-1.on {
   display: flex;
}
section .box-2 {
   display: none;
}

section .box-2.on {
   display: flex;
}

section {
   display: flex;
   justify-content: center;
   align-items: center;
}

.c-carrosel-box {
   width: 1000px;
   display: flex;
   align-items: center;
   margin: 0 auto;
   gap: 70px;
   overflow: hidden;
   scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
   scroll-behavior: smooth;
}

.u-project {
   display: grid;
   grid-template-rows: 172px 1fr;
   width: 33%;
   min-width: 282px;
   background: rgba(0, 0, 0, 0.411);
   height: 400px;
   scroll-snap-align: start;
}

.u-project .image {
   width: 100%;
   object-fit: cover;
   height: 100%;
}

.u-project-content {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
}

.u-project-content h3 {
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 1px;
   color: white;
   text-align: start;
   width: 100%;
}

.u-project-content p {
   font-weight: 500;
   font-size: 13px;
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   align-self: flex-start;
   text-align: justify;
   color: white;
}

.bg-1 {
   background: #2fd09a;
}

.u-project-content.bg-2 h3 {
   color: #13192c;
}
.u-project-content.bg-2 p {
   color: #13192c;
}

.u-project-content.bg-2 .u-btn-site {
   background: #13192c;
   color: white;
}

.u-project-content.bg-2 .u-btn-git {
   border: 1px solid #13192c;
   color: #13192c;
}
.bg-2 {
   background: white;
}

/* Buttons */
.u-buttons {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   gap: 30px;
}

.u-btn-site {
   background: white;
   border: 0px;
   color: #2fd09a;
   padding: 2px 15px;
   font-size: 15px;
   font-weight: 600;
   font-family: "Montserrat", sans-serif;
   text-align: center;
   transition: 0.5s ease-in-out;
}

.u-btn-git {
   background: transparent;
   border: 1px solid white;
   color: white;
   padding: 2px 10px;
   font-size: 15px;
   font-weight: 500;
   font-family: "Montserrat", sans-serif;
   text-align: center;
   transition: 0.5s ease-in-out;
}
