:root {
   --cor-principal: #23d3a3;
   --cor-secundária: #181f1c;
   --bg-footer: #0f1613;
}

/* Estilos Gerais */
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body {
   background: var(--cor-secundária);
   font-family: Consolas, "Courier New", monospace;
}

.c-container {
   height: 100vh;
   display: grid;
   grid:
      "main" 1fr
      "footer" 50px;
   overflow-x: hidden;
}

/* Utilitários */

.u-button-container {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.u-button {
   width: 60px;
   background: var(--cor-principal);
   padding: 5px;
   border-radius: 3em;
}

.u-button a {
   color: var(--cor-secundária);
}

.u-button + .u-button {
   margin-left: 10px;
}

/* Main */

main {
   margin: 100px auto 0 auto;
   display: grid;
   max-width: 340px;
   gap: 20px;
   grid:
      "nav" 50px
      "content";
}

/* Nav */

.c-nav {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   grid-area: nav;
}
.c-nav a {
   background: var(--cor-principal);
   color: var(--cor-secundária);
   padding: 10px;
   border-radius: 3em;
}
.c-nav a + a {
   margin-left: 10px;
}

/* Carrosel */

.c-projects {
   grid-area: content;
   display: none;
   max-height: 280px;
   background: var(--bg-footer);
   position: relative;
}

.c-box {
   display: flex;
   overflow-x: scroll;
   scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
   scroll-behavior: smooth;
   max-width: 320px;
   margin: 10px 10px 0 10px;
   gap: 20px;
}

.c-arrow {
   position: absolute;
   width: 25px;
   height: 25px;
   bottom: 10px;
   right: 25px;

   animation-name: c-arrow;
   animation-duration: 0.5s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes c-arrow {
   0% {
      right: 25px;
   }
   100% {
      right: 10px;
   }
}

.c-project {
   display: grid;
   grid:
      " images"
      " content";
   width: 100%;
   text-align: center;
   scroll-snap-align: start;
}

.c-project + .c-project {
   margin-left: 10px;
}

.c-project p {
   margin-top: 10px;
   color: rgb(212, 206, 206);
   font-size: 18px;
}

.c-images {
   grid-area: images;
   position: relative;
}

.c-desktop-img {
   max-width: 320px;
}

.c-mobile-img {
   position: absolute;
   width: 90px;
   height: 180px;
   right: 0px;
   /* box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.39); */
}

.c-content {
   grid-area: content;
}

.c-iniciantes.on {
   display: flex;
}

.c-principais.on {
   display: flex;
}

/* Footer */

footer {
   background: var(--bg-footer);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

footer img {
   width: 100%;
   height: 100%;
}

footer a {
   display: inline-block;
   width: 40px;
   height: 40px;
}
footer a + a {
   margin-left: 20px;
}

@media (min-width: 768px) {
   main {
      margin: 60px auto 20px auto;
      display: grid;
      max-width: 720px;
      gap: 20px;
      grid:
         "nav" 50px
         "content";
   }

   .c-projects {
      grid-area: content;
      display: none;
      max-height: 450px;
      /* width: 720px; */
      background: var(--bg-footer);
   }

   .c-box {
      display: flex;
      overflow: hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      max-width: 700px;
      width: 700px;
      margin: 10px 10px 0 10px;
      gap: 20px;
   }
   .c-project {
      display: grid;
      grid:
         " images"
         " content";
      width: 100%;
      text-align: center;
      scroll-snap-align: start;
   }

   .c-project p {
      margin-top: 0px;
      color: rgb(212, 206, 206);
      font-size: 18px;
   }

   .c-images {
      grid-area: images;
   }

   .c-desktop-img {
      max-width: 700px;
      width: 700px;
      height: 360px;
   }

   .c-mobile-img {
      position: absolute;
      width: 100%;
      max-width: 170px;
      height: 100%;
      max-height: 360px;
      right: 0px;
      object-fit: contain;
      /* background: white; */
   }
} ;
