/* Geral */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --Blue: hsl(223, 87%, 63%);
   --Pale-Blue: hsl(223, 100%, 88%);
   --Light-Red: hsl(354, 100%, 66%);
   --Gray: hsl(0, 0%, 59%);
   --Very-Dark-Blue: hsl(209, 33%, 12%);
}

.c-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 80px 0px 20px 0px;
   font-family: "Libre Franklin", sans-serif;
}

/* Main */
.c-logo {
   width: 70px;
   margin-bottom: 40px;
}

.c-title {
   font-weight: normal;
   font-size: 23px;
   color: var(--Gray);
   margin-bottom: 20px;
}

.c-title b {
   color: var(--Very-Dark-Blue);
}

.c-text {
   margin-bottom: 30px;
}

input:focus,
button:focus {
   outline: 0;
}

.c-input-container {
   display: flex;
   position: relative;
   flex-direction: column;
   gap: 20px;
}

.c-input {
   width: 270px;
   height: 40px;
   border-radius: 2em;
   border: 1px solid var(--Pale-Blue);
   padding-left: 30px;
   margin-bottom: 10px;
}

.c-input.blue::placeholder {
   color: var(--Pale-Blue);
}

.c-input.black::placeholder {
   color: var(--Light-Red);
}

.c-button {
   cursor: pointer;
   width: 270px;
   height: 40px;
   border-radius: 2em;
   border: 1px solid var(--Blue);
   background: var(--Blue);
   margin-bottom: 70px;
   color: white;
}

.c-error-message {
   color: var(--Light-Red);
   position: absolute;
   top: 45px;
   left: 55px;
   font-size: 10px;
}

.c-dashboard {
   width: 100%;
   max-width: 320px;
   margin-bottom: 90px;
}

/* Footer */

.c-contact-icon {
   display: flex;
   justify-content: center;
   gap: 20px;
}
.c-contact-icon .c-icon-container {
   cursor: pointer;
   width: 35px;
   height: 35px;
   padding: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid var(--Pale-Blue);
   border-radius: 50%;
}

.c-twitter-icon {
   width: 20px;
}

.c-insta-icon {
   width: 25px;
}

footer p {
   margin-top: 30px;
   font-size: 12px;
   color: var(--Gray);
}

@media (min-width: 768px) {
   .c-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px 0px 20px 0px;
      font-family: "Libre Franklin", sans-serif;
   }

   .c-logo {
      width: 70px;
      margin-bottom: 20px;
   }

   .c-text {
      font-size: 14px;
      margin-bottom: 30px;
   }

   .c-title {
      font-weight: normal;
      font-size: 30px;
      color: var(--Gray);
      margin-bottom: 10px;
   }
   .c-input-container {
      display: flex;
      gap: 10px;
      flex-direction: row;
   }
   .c-button {
      width: 150px;
      height: 40px;
      border-radius: 2em;
      border: 1px solid var(--Blue);
      background: var(--Blue);
      margin-bottom: 40px;
      color: white;
   }

   .c-error-message {
      color: var(--Light-Red);
      position: absolute;
      top: 45px;
      left: 30px;
      font-size: 10px;
   }

   .c-dashboard {
      width: 100%;
      max-width: 430px;
      margin-bottom: 20px;
   }

   .c-contact-icon {
      display: flex;
      justify-content: center;
      gap: 20px;
   }
   .c-contact-icon .c-icon-container {
      width: 20px;
      height: 20px;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--Pale-Blue);
      border-radius: 50%;
   }

   .c-twitter-icon {
      width: 10px;
   }

   .c-insta-icon {
      width: 15px;
   }
   .c-face-icon {
      width: 15px;
   }
   footer p {
      margin-top: 20px;
      font-size: 12px;
      color: var(--Gray);
   }
}
