* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Consolas, "Courier New";
}

.c-box {
   max-height: 900px;
   max-width: 1600px;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 20px;
}

.c-content-container {
   max-width: 400px;
   max-height: 400px;
   border: 1px solid black;
   text-align: center;
   padding: 40px 60px 80px 60px;
}

.c-title {
   margin-top: 20px;
}

.c-about {
   margin-top: 20px;
   font-size: 18px;
   width: 200px;
   margin: 20px auto;
}

.c-binary-container {
   margin: 20px auto;
}
.c-binary-label {
   font-weight: bold;
   font-size: 20px;
}

.c-binary-number {
   width: 200px;
   height: 25px;
}

.c-decimal-container {
   display: flex;
   justify-content: center;
}

.c-decimal-label {
   font-size: 20px;
   font-weight: bold;
   margin-right: 5px;
}

.c-decimal-number {
   width: 210px;
   border: 1px solid black;
   /* height: 50px; */
}

.c-button {
   margin-top: 20px;
}
